body
{
    margin: 0;
    padding: 0;
}

.morning-friend
{
    position: relative;
    
    width: 330px;
    height: 657px;
    margin: 20px auto;

    background: url('../images/morning-friend.png');
    background-size: cover;
}
.morning-friend-inner
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    padding: 95px 35px;
}

.morning-friend-inner .top-actions
{
    padding: 3px;
    height: 24px;
    background-color: #E9E9E9;
}
.morning-friend-inner .bottom-actions
{
    height: 34px;
    background-color: #D9ECFF;
}
.morning-friend-inner .content-wrapper
{
    height: 401px;
}

a.button
{
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
a.setting-action
{
    background-image: url('../images/settings.png');
    float: right;
    margin-right: 10px;
}
a.setting-action:hover
{
    background-image: url('../images/settings-hovered.png');
}
.time-counter-wrapper
{
    margin-top: 150px;
    text-align: center;
    font-family: 'trebuchet MS';
    font-size: 26px;
    color: #3399FF;
    height: 180px;
}
.player-wrapper
{
    padding-left: 58px;
    padding-top: 96px;
}