body
{
    margin: 0;
    padding: 0;
}

.morning-friend
{
    position: relative;
    
    width: 330px;
    height: 657px;
    margin: 20px auto;

    background: url('../images/morning-friend.png');
    background-size: cover;
}

.morning-friend__inner
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    margin: 95px 33px 175px 34px;
}

.morning-friend__body
{
    height: 100%;
}

.actions
{
    font-size: 20px;
    
    display: table;

    width: 100%;
    
    line-height: 40px;
    text-align: center;
}

.actions_type_bottom
{
    font-size: 15px;
}


.actions__left,
.actions__right
{
    display: inline-block;
    
    padding: 5px 7px;
    
    line-height: 30px;
}

.actions__left
{
    float: left;
}

.actions__right
{
    float: right;
}

.actions__item
{
    display: table-cell;

    text-align: center;
}

.icon-wrap
{
    display: inline-block !important;
    width: 35px !important;
    height: 35px !important;

    border-radius: 35px;
    border: 1px solid #000;
}

.icon
{
    display: inline-block !important;
    
    line-height: 35px !important;
}

