body
{
    margin: 0;
    padding: 0;
}

.morning-friend
{
    position: relative;
    
    width: 330px;
    height: 657px;
    margin: 20px auto;

    background: url('../images/morning-friend.png');
    background-size: cover;
}

.morning-friend__inner
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    margin: 95px 33px 175px 34px;
}

.morning-friend__body
{
    height: 100%;
}

.actions
{
    font-size: 25px;
    
    display: table;

    width: 100%;
    
    line-height: 40;
    text-align: center;
}

.actions_type_bottom
{
    font-size: 15px;
}


.actions__left,
.actions__right
{
    display: inline-block;
    
    padding: 0 7px;
    
    line-height: 40px;
}

.actions__left
{
    float: left;
}

.actions__right
{
    float: right;
}

.actions__item
{
    display: table-cell;

    text-align: center;
    line-height: 40px;
}



